@using EntityLayer.Concrete;
@model Image
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Görsel Düzenleme Sayfası</h4>

            <form class="forms-sample" method="post">
                <input type="hidden" asp-for="ImageId"/>
                <div class="form-group">
                    <label for="exampleInputName1">Başlık</label>
                    <span asp-validation-for="Title" class="text-danger"></span>
                    <input type="text" class="form-control" id="exampleInputName1" placeholder="Başlık giriniz.." asp-for="Title">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Görsel Yolu</label>
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                    <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Görsel.." asp-for="ImageUrl">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail3">Açıklama</label>
                    <span asp-validation-for="Description" class="text-danger"></span>
                    <input type="tel" class="form-control" id="exampleInputEmail3" placeholder="Açıklama.." asp-for="Description">
                </div>



                <button type="submit" class="btn btn-info me-2">Kaydet</button>

            </form>
        </div>
    </div>
</div>

