@using EntityLayer.Concrete;
@model Contact
@{
    ViewData["Title"] = "Update";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Mesaj Detayları Sayfası</h4>

            <form class="forms-sample" method="post">
                <div class="form-group">
                    @Html.HiddenFor(x=>x.ContactId)
                    <label for="exampleInputName1">Adı Soyadı</label>
                   
                    <input type="text" class="form-control" id="exampleInputName1"  asp-for="Name">
                
                </div>

                <div class="form-group">
                    
                    <label for="exampleInputName1">Mail Adresi</label>
                  
                    <input type="text" class="form-control" id="exampleInputName1" asp-for="Mail">
                

                </div>
                <div class="form-group">
                    
                    <label for="exampleInputName1">Tarih</label>
                   
                    <input type="text" class="form-control" id="exampleInputName1"  asp-for="Date">
                  

                </div>

                <div class="form-group">

                    <label for="exampleInputName1">Mesaj Detayı</label>

                   <textarea asp-for="Message" class="form-control" cols="5" rows="20"></textarea>

                </div>


                <button type="submit" class="btn btn-info me-2">Kaydet</button>

            </form>
        </div>
    </div>
</div>

