


<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_DashboardHeaderPartial")
<body>

        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_sidebar.html -->
        <div class="container-scroller">
            <div class="container">

                @RenderBody()

            </div>
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">

                    @await Component.InvokeAsync("_DashboardNavbarPartial")
                    @await Component.InvokeAsync("_DashboardOverviewPartial")
                    @await Component.InvokeAsync("_DashboardChartPartial")
                    @await Component.InvokeAsync("_DashboardTablePartial")
                    @await Component.InvokeAsync("_DashboardScriptPartial")

                </div>

                <footer class="footer">
                    <div class="d-sm-flex justify-content-center justify-content-sm-between">
                        <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="https://www.bootstrapdash.com/" target="_blank">bootstrapdash.com </a>2021</span>
                        <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">Only the best <a href="https://www.bootstrapdash.com/" target="_blank"> Bootstrap dashboard  </a> templates</span>
                    </div>
                </footer>

            </div>

        </div>

    </div>


</body>

</html>


