
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Raporlar</h2>
<div class="form-group">
<a asp-controller="Report" asp-action="StaticReport" class="btn btn-outline-info"> Statik Rapor</a>
</div>

<div class="form-group">
    <a asp-controller="Report" asp-action="ContactReport" class="btn btn-outline-info"> Mesaj Raporları</a>
</div>

    <div class="form-group">
    <a asp-controller="Report" asp-action="AnnouncementReport" class="btn btn-outline-info"> Duyuru Raporları</a>
</div>